.Home {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;

  &__navigation {
    a:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
  }
}
